// resources/scss/_variables.scss

// Colors
$primary-color: #4f46e5;      // Indigo
$primary-hover: #4338ca;
$secondary-color: #64748b;
$success-color: #10b981;
$info-color: #3b82f6;
$warning-color: #f59e0b;
$danger-color: #ef4444;
$dark-bg: #0f172a;           // Màu nền Sidebar
$light-bg: #f8fafc;          // Màu nền Web
$footer-bg: #1e293b;
$text-main: #334155;
$text-light: #94a3b8;

// Dimensions & Settings
$sidebar-width: 300px;
$transition-speed: 0.3s;
$font-main: 'Inter', sans-serif;
